//********************************************
// COLORS
//********************************************
$primary-color: #333;



//*********************************************
// FONTS
//*********************************************
$font-stack: Helvetica, sans-serif;



//*********************************************
// SIZES
// *********************************************
$font-size-header: 15px;


